<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nftartist">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Controller.NFTAdd"
            android:exported="true" />
        <activity
            android:name=".Controller.Login"
            android:exported="true" />
        <activity
            android:name=".Controller.Intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.MainActivity" />
        <activity android:name=".Controller.SignUp" />
        <activity android:name=".Controller.PasswordReset" />
        <activity android:name=".Controller.GalleryActivity" />
        <activity android:name=".Controller.BasicActivity" />
        <activity android:name=".Controller.CameraActivity" />
    </application>

</manifest>